body{
    background-color: rgb(255, 255, 255);
}
#menycontainer
{
    border: 7px solid;
    border-color: wheat;
    text-align: center;
    padding: 10px;
    background-color: black;
}
#pagecontent
{
    text-align: center;
    background-color: rgb(224, 212, 160);
    font-size: 20px;
    
}
#meny li
{
    width: 10%;
    list-style: none;
    display: inline-block;
}
a
{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a:link
{
    color: wheat;
}
a:visited
{
    color: rgb(244, 225, 82);
}
a:hover
{
    background-color: rgb(236, 178, 72);
}
a:active
{
    color: white;
}
.bild
{
    width: 50%;
}
.bild1
{
    width: 70%;
}
.bild2
{
    width: 50%;
}