body
{
    background-image: url("bildsida/åkelök.png");
    background-repeat: no-repeat;
    background-color: rgb(4, 4, 4);
    background-size: 40%;
    background-position: 50%;
    margin-bottom: 50%;
}
.lök
{
    color: white;
    text-align: center;
    font-family: cursive;
}